*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.abt-us{
    background-color: aliceblue;
    
}
.container{
    width:85%;
    margin:auto;
}
h3{
    color: blue;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
.title p{
    text-align-last: center;
    padding-bottom: 20px;
}
.abt-row{
    display:flex;
    gap:5%;
}
.col1{
    width:100%;
    margin:auto;
}
.col1 p{
    padding-bottom: 20px;
}
.col1 ul li{
    display:flex;
    list-style-type: none;
}

 .col2 p{
    padding-bottom: 20px;
 }
.col2 a{
    text-decoration: none;
    padding: 5px 10px;
    border-style: solid;
    border-color: rgb(73, 36, 182);
}

